﻿@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h1>@Model.Name</h1><p>
    @foreach (var activity in Umbraco.Content(Model.Id).DescendantsOfType("activity"))
    {
        <h2>@activity.Name</h2><br>
            var activityCategories = activity.Value<IEnumerable<IPublishedContent>>("categories");
            if (activityCategories.Any())
            {
            <table style="width:100%">
                <tr>
                    <th>Category</th>
                    <th>Present in Parent</th>
                </tr>
                @foreach (var category in activityCategories)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@(Model.Value<IEnumerable<IPublishedContent>>("categories").Contains(category) ? "Yes" : "No")</td>
                    </tr>
                }
            </table>
        }
    }

